.App {
  font-family: sans-serif;
}

@keyframes dash {
  to {
    stroke-dashoffset: 72;
  }
}

.node rect {
  fill: #f3f3ff;
  stroke: #2593b8;
  stroke-width: 1.5px;
}

.node.hovered rect,
.node.selected rect {
  stroke-width: 3.5px;
}

.node text {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(241, 241, 241);
  fill: #282828;
}

.node .label {
  stroke: white;
  stroke-width: 4;
  paint-order: stroke;
}

.node.searched .label {
  stroke: yellow;
  stroke-width: 8;
  paint-order: stroke;
}


.node.hovered text,
.node.selected text {
  font-weight: bold;
  font-size: 15px;
  fill: #282828;
}

.node {
  cursor: pointer;
}

.node text {
  pointer-events: none;
}

.node circle {
  stroke: white;
  stroke-width: 2px;
}

path.link {
  fill: none;
  stroke: #2593b8;
  stroke-width: 1.5px;
}

body {
  overflow: hidden;
}

.connection {
  stroke-dasharray: 4 4;
  stroke: gray;
}

.animated .connection {
  animation: dash 5s linear infinite;
}

.connection.hidden {
  display: none;
}

.connection.hovered {
  stroke-dasharray: 8 4;
  stroke-width: 2px;
  display: unset;
}

.preformatted {
  font-family: monospace;
  white-space: pre;
}

.ace-github .ace_gutter {
  background: white;
}